<!DOCTYPE html>
<html>
  <!--
    WARNING! Make sure that you match all Quasar related
    tags to the same version! (Below it's "@2.14.3")
  -->

  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.14.3/dist/quasar.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <!-- example of injection point where you write your app template -->
    <div id="q-app">
<!-- components -->
<q-btn label="My Button"></q-btn>
  <div class="q-pa-md">
    <div class="q-gutter-sm">
      <div>
        <q-checkbox label="Label on Right" />
      </div>

      <div>
        <q-checkbox left-label v-model="left" label="Label on Left" />
      </div>

      <div>
        <q-checkbox
          v-model="right2"
          label="Swipe"
          checked-icon="swipe_left"
          unchecked-icon="swipe_right"
          color="green"
          keep-color
        />
      </div>

      <div>
        <q-checkbox
          left-label
          v-model="left2"
          label="I agree"
          checked-icon="task_alt"
          unchecked-icon="highlight_off"
        />
      </div>
    </div>
  </div>
<div class="q-pa-md">
  <div class="q-gutter-sm">
    <q-checkbox v-model="teal" label="Teal" color="teal" />
    <q-checkbox v-model="orange" label="Orange" color="orange" />
    <q-checkbox v-model="red" label="Red" color="red" />
    <q-checkbox v-model="cyan" label="Cyan" color="cyan" />
  </div>
  <div class="q-gutter-sm">
    <q-checkbox keep-color v-model="teal" label="Teal" color="teal" />
    <q-checkbox keep-color v-model="orange" label="Orange" color="orange" />
    <q-checkbox keep-color v-model="red" label="Red" color="red" />
    <q-checkbox keep-color v-model="cyan" label="Cyan" color="cyan" />
  </div>
</div>

    <!-- Add the following at the end of your body tag -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.14.3/dist/quasar.umd.prod.js"></script>
    
    <script>
      /*
        Example kicking off the UI. Obviously, adapt this to your specific needs.
        Assumes you have a <div id="q-app"></div> in your <body> above
       */
      const { ref } = Vue

      const app = Vue.createApp({
        setup () {
          return {
            left: ref(true),
            left2: ref(true),
            right2: ref(false),
            teal: ref(true),
            orange: ref(false),
            red: ref(false),
            cyan: ref(true)
          }
        }
      })

      app.use(Quasar, { config: {} })
      app.mount('#q-app')
    </script>

  </body>
</html>
